:root {
    --purple: rgb(233, 101, 233);
    --orange: orange;
    --red: rgb(198, 81, 81);
    --cyan: cyan;
}

.container {
    padding: 35px;
    background-color: purple;
    display: flex;
    flex-direction: column-reverse;
    /* for text up or down */
}

.main-section {
    display: flex;
    gap: 35px;
    /* for change left and right */
}

.left,
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left>div:first-child {
    height: 100px;
    display: flex;
    background-color: rgb(233, 101, 233);
}

.left>div:last-child {
    display: flex;
    gap: 25px;
}

.left-bottom-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.left-bottom-container>div:nth-child(1) {
    height: 300px;
    flex: 1;
    background-color: orange;
}

.left-bottom-container>div:nth-child(2) {
    height: 100px;
    flex: 1;
    background-color: rgb(198, 81, 81);
}

.left-bottom-content {
    height: 410px;
    flex: 1;
    background-color: cyan;
}

/* Right */
.right-top {
    display: flex;
    gap: 15px;
}

.right-top>div:first-child {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.right-top>div:first-child>div:nth-child(1) {
    height: 100px;
    background-color: rgb(198, 81, 81);
}

.right-top>div:first-child>div:nth-child(2) {
    height: 80px;
    background-color: cyan;
}

.right-top>div:first-child>div:nth-child(3) {
    height: 130px;
    background-color: orange;
}

.right-top>div:last-child {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px
}

.right-top>div:last-child>div:nth-child(1) {
    height: 120px;
    background-color: cyan;
}

.right-top>div:last-child>div:nth-child(2) {
    height: 100px;
    background-color: orange;
}

.right-top>div:last-child>div:nth-child(3) {
    height: 90px;
    background-color: rgb(198, 81, 81);
}

.right>div:last-child {
    height: 180px;
    flex: 1;
    background-color: rgb(233, 101, 233);
}

.text {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 150px;
    font-weight: bold;
    color: white;
}