* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* margin: 15px; */
    gap: 15px;
    padding: 25px;
}

.alart {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.inputArea{
    display: flex;
    gap: 10px;
}

.inputBox {
    padding: 15px;
    /* margin: 5px; */
    outline: none;
    border: 0.5px solid #E5C9C5;
}

.addPlayer {
    padding: 15px;
    /* margin: 5px; */
    width: 150px;
    background-color: #E5C9C5;
    border: none;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.leaderBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.card {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5C9C5;
    margin: 5px;
    padding: 10px 5px 10px 20px;

    >div {
        flex: 1 1 calc(24.99% - 10px);
        /* padding: 15px; */
    }
}

.card h3,
p {
    font-size: 18px;
    font-weight: normal;
    padding: 5px;
    letter-spacing: 2px;
}

.country,
.score {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreCrud {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.scoreCrud button {
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

#loader {
    display: none;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* background-color: red; */
    border: 5px solid #ddd;
    border-top-color: #333;
    animation: roate 1s infinite;
}

@keyframes roate {
    100% {
        rotate: 360deg;
    }
}

/* Large Mobile :480px. */

@media (max-width: 800px) {
	h1{
        text-align: center;
    }
    .inputArea, .addPlayer{
       display: flex;
       flex-direction: column;
       justify-content: center;
       width: 100%;
       text-align: center;
    }
}