* {
    margin: 0;
    padding: 0;
}

.body {
    height: 100%;
    display: flex;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* min-height: 100vh; */
}

.header {
    padding: 30px;
    background: #6d6b6b7c;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.result_area {
    background: #663d3d7c;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.result_area p{
    padding-top: 15px;
}
.btn{
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

#bar_chart{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.resDiv{
    /* background: rgb(162, 169, 162); */
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    justify-content: flex-start;
    progress{
        height: 50px;
        width:200px;
        border-radius: 40px !important;
    }
}

